.git
.jj
.github
.githooks
.cache
.download
.history
.vscode
.docs

**/.env
**/.env.*
*.log

node_modules
pb_data

scripts
tools

apps/*/.docs
apps/*/__tests__
apps/*/node_modules
apps/*/pb_data
apps/*/Dockerfile
apps/*/pocketbase
apps/*/pocketbase.exe
apps/*/pbw
apps/*/pbw.exe

packages/*/node_modules
