<script server>
  meta('title', 'seedlab 회원가입')
  meta('description', 'seedlab 회원가입')

  if (request.auth) {
    dbg('seedlab/sign-up:redirect', {
      status: 303,
      redirectTo: '/',
    })
    redirect('/', {
      status: 303,
    })
    return
  }
</script>

<section>
  <h1>회원가입</h1>

  <%- include('flash-alert.ejs', { flashMessage: params.__flash }) %>

  <form
    method="post"
    action="/xapi/auth/sign-up">
    <label>
      이메일
      <input
        type="email"
        name="email"
        required
        placeholder="me@example.com" />
    </label>

    <label>
      비밀번호
      <input
        type="password"
        name="password"
        required
        minlength="8"
        placeholder="8자 이상" />
    </label>

    <label>
      비밀번호 확인
      <input
        type="password"
        name="passwordConfirm"
        required
        minlength="8"
        placeholder="비밀번호 확인" />
    </label>

    <button type="submit">가입</button>
  </form>

  <a href="/sign-in">로그인</a>
</section>
