<script server>
  meta('title', 'seedlab 로그인')
  meta('description', 'seedlab 로그인')

  if (request.auth) {
    dbg('seedlab/sign-in:redirect', {
      status: 303,
      redirectTo: '/',
    })
    redirect('/', {
      status: 303,
    })
    return
  }
</script>

<section>
  <h1>로그인</h1>

  <%- include('flash-alert.ejs', { flashMessage: params.__flash }) %>

  <form
    method="post"
    action="/xapi/auth/sign-in">
    <label>
      이메일
      <input
        type="email"
        name="email"
        required
        placeholder="me@example.com" />
    </label>

    <label>
      비밀번호
      <input
        type="password"
        name="password"
        required
        placeholder="비밀번호" />
    </label>

    <button type="submit">로그인</button>
  </form>

  <a href="/sign-up">회원가입</a>
</section>
